# Enable mod_rewrite
RewriteEngine On

# Ensure that Apache can use mod_rewrite
RewriteBase /

# Remove index.php from URLs
RewriteCond %{REQUEST_URI} ^/index.php [NC]
RewriteRule ^index.php(.*)$ $1 [R=301,L]

# Remove 'index.php' from the URL for clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Allow access to specific file types (images, CSS, JS, HTML)
<FilesMatch "\.(jpg|jpeg|png|gif|css|js|html|xml|json)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Disable directory listing for security purposes
Options -Indexes
