# Enable mod_rewrite
RewriteEngine On

# Set the base URL for the subdirectory /pakoesport/
RewriteBase /pakoesport/

# Remove index.php from URLs
RewriteCond %{REQUEST_URI} ^/index.php [NC]
RewriteRule ^index.php(.*)$ $1 [R=301,L]

# If the requested file or directory does not exist, route to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Allow access to specific file types (images, CSS, JS, HTML, etc.)
<FilesMatch "\.(jpg|jpeg|png|gif|css|js|html|xml|json)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Disable directory listing for security purposes
Options -Indexes
